<!doctype html>
<html lang="ja">
  <head></head>
  <body>
    <div class="container">
      <h3>Beginner's建築〜ビギケン〜</h3>
    </div>
    <div class="container text-center bg-success">
      <h4>建築語録</h4>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 bg-light">
          <h2 class="text-primary">大工工事</h2>
          <p class="my-3">大工は主に、建築現場で木を使って骨組みをつくったり、外壁や屋根の下地や、床・壁・天井の下地を作る仕事です。</p>
          <p class="my-3">木造建築物でいえば、コンクリート基礎や屋根・外壁・内装の仕上げ以外のすべてにたずさわるという、重要なポジションにいる職人です。</p>
          <p class="my-3">実際に建築現場の指揮を取るのは現場代理人と呼ばれる現場監督の方ですが、現場監督は複数の現場を掛け持ちしたり、事務仕事もたくさんあることから四六時中、現場についていられません。</p>
          <p class="my-3">そのため、現場監督がもっとも頼りにするのが、現場に常駐する大工であり、実質的に現場を取り仕切るのは、大工なのです。</p>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 bg-light pd-3 text-center"><img src="/assets/9.jpg" height="200" alt=""></div>
        <div class="col-md-4 bg-light pb-3 text-center"><img src="/assets/10.jpg" height="200" alt=""></div>
        <div class="col-md-2"></div>
      </div>
    </div>

    <div class="container my-5">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 bg-light">
          <h2 class="text-primary">左官工事</h2>
          <p class="my-3">左官とは、建築工事において塗り壁などを塗る職人のことをいいます。</p>
          <p class="my-3">壁を塗るには専門技術とセンスを要し、難しい面もありますが、達成感を感じられる作業内容です。</p>
          <p class="my-3">また、タイル貼りやレンガ・ブロック積み、コンクリートの床仕上げなども左官の仕事です。</p>
          <p class="my-3">いずれも現場によって塗る場所も違えば環境も異なる中、状況を判断して確実に、精度の高いものを仕上げていきます。技術のほか、集中して作業を続ける精神力や体力も求められる仕事です。</p>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 bg-light pd-3 text-center"><img src="/assets//11.jpg" height="200" alt=""></div>
        <div class="col-md-4 bg-light pb-3 text-center"><img src="/assets//12.jpg" height="200" alt=""></div>
        <div class="col-md-2"></div>
      </div>
    </div>

    <div class="container my-5">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 bg-light">
          <h2 class="text-primary">土木工事</h2>
          <p class="my-3">土木作業員は、宅地の造成や道路工事、河川の整備、ダムの建設、トンネル掘削といった土木工事の現場で働く作業員です。</p>
          <p class="my-3">機械を使うことが困難な現場で建設資材の運搬や穴を掘る作業を人力で担当する「土工」と、重機などの免許を持って作業に従事する「機械土工」に分類することもあります。</p>
          <p class="my-3">土木作業員の仕事は、作業員としての経験や各種免許の有無により異なります。傾向としては、若手や経験の浅い作業員は土工として荷物の運搬やコンクリートの撹拌（かくはん）などの力仕事、補助作業を担当し、 経験を積みながら重機の操作に必要な免許を取得して機械土工となり仕事の幅を広げていくことが多いです。</p>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 bg-light pd-3 text-center"><img src="/assets//13.jpg" height="200" alt=""></div>
        <div class="col-md-4 bg-light pb-3 text-center"><img src="/assets//14.jpg" height="200" alt=""></div>
        <div class="col-md-2"></div>
      </div>
    </div>

    <div class="container my-5">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 bg-light">
          <h2 class="text-primary">電気工事</h2>
          <p class="my-3">電気工事士は、一般住宅やビル、店舗、病院、工場といった、あらゆる建物の電気設備の設計・施工を行う仕事です。</p>
          <p class="my-3">たとえば、新しい建物を建設する際には電気配線や配電盤の据え付けを行ったり、既存の建物に新しい電気設備を追加したりと、他の建設作業と連携しながら作業を進めていきます。</p>
          <p class="my-3">このような電気設備の工事は危険を伴うため、法律によって特定の資格を所持する人でなければできないことになっており、その作業に必要な資格を取得する必要がありますが、</p>
          <ul>
            <li>エアコンの工事（取付け・取り外し・化粧カバーの取付けのみ）</li>
            <li>家庭での照明取り替え・取付など（コンセントを開けたりいじるのはだめ</li>
          </ul>
          <p class="my-3">などの資格なしでも可能な作業もあるため、現場作業を覚えて、資格を取得してしていくという道もあります。</p>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 bg-light pd-3 text-center"><img src="/assets/15.jpg" height="200" alt=""></div>
        <div class="col-md-4 bg-light pb-3 text-center"><img src="/assets//16.jpg" height="200" alt=""></div>
        <div class="col-md-2"></div>
      </div>
    </div>

    <div class="container my-5">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 bg-light">
          <h2 class="text-primary">内装仕上工事</h2>
          <p class="my-3">内装仕上工事とは、木材、石膏ボード、吸音板、壁紙、たたみ、ビニール床タイル、カーペット、ふすま等を用いて建築物の内装仕上を行う工事のことをいいます。</p>
          <p class="my-3">例えば、インテリア工事、天井仕上工事、壁張り工事、内装間仕切り工事、床仕上工事、たたみ工事、ふすま工事、家具工事、防音工事などです。</p>
          <p class="my-3">一般的にリフォーム工事、と呼ばれるものはほぼ内装工事に当てはまります。</p>
          <p class="my-3">内装工の魅力は、人々の住環境に対して自分の美的感覚やセンスを活かして影響を与えられることです。資格がなくても未経験から仕事をスタートでき、現場で実務経験を積んでいけることも魅力の一つと言えます。</p>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 bg-light pd-3 text-center"><img src="/assets//17.jpg" height="200" alt=""></div>
        <div class="col-md-4 bg-light pb-3 text-center"><img src="/assets//18.jpg" height="200" alt=""></div>
        <div class="col-md-2"></div>
      </div>
    </div>

    <div class="container my-5">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 bg-light">
          <h2 class="text-primary">給排水工事</h2>
          <p class="my-3">水道工事というと、テレビCMでよく見るような蛇口や排水口のつまりを修理するというイメージを抱いている方もいるでしょう。</p>
          <p class="my-3">しかし、実際の水道工事とは「給水管引込工事」と「屋内配管工事」、さらに「下水道排水設備工事」の3種類になります。</p>
          <p class="my-3">給水管引込工事というのは、水道局が管理している水道管から、それぞれの建築物の敷地内に給水管を引いてくる工事のこと。屋内配管工事とは、建物内に給水管および排水管を設置する工事になります。</p>
          <p class="my-3">これらの工事は、繋（つな）ぎ方を間違えれば漏水の危険があるばかりでなく、上水道に飲料に適さない水が流れてしまうかもしれないというリスクもあるので、しっかりとした知識、技術が必要になります。</p>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 bg-light pd-3 text-center"><img src="/assets//19.jpg" height="200" alt=""></div>
        <div class="col-md-4 bg-light pb-3 text-center"><img src="/assets//20.jpg" height="200" alt=""></div>
        <div class="col-md-2"></div>
      </div>
    </div>

    <footer class="text-center mt-3 pt-3">
      <p>Beginner's建築〜ビギケン〜</p>
    </footer>
  </body>
</body>
</html>
