<!doctype html>
<html lang="ja">
  <head></head>
  <body>
    <div class="container">
      <h3>Beginner's建築〜ビギケン〜</h3>
    </div>
    <div class="container text-center bg-success">
      <h4>お知らせ</h4>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 bg-light">
          <h2 class="text-primary">Webサイトリニューアルのお知らせ</h2>
          <p class="my-3">この度は、各種情報をよりわかりやすくお客様にお伝えできるようWebサイト『Beginner's建築〜ビギケン〜』をリニューアルいたしました。</p>
          <p class="my-3">今回のリニューアルでは、お客様にとって、より情報が探しやすく、読みやすいサイトを目指し、構成やデザインを全面的に刷新いたしました。</p>
          <p class="my-3">今後とも内容の充実を図り、お客様のお役に立つ情報をタイムリーに発信していくとともに、お客様がより使いやすいWebサイトを目指して、日々改善に取り組んで参りますので何卒よろしくお願いいたします。</p>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
    <footer class="text-center mt-3 pt-3">
      <p>Beginner's建築〜ビギケン〜</p>
    </footer>
  </body>

</body>
</html>
