<!doctype html>
<html lang="ja">
  <head>
    <title>Beginner</title>
  </head>
  <body>
    <div class="cover text-center">
      <div class="cover-second">
        <div class="display-4 text-white">Beginner's建築</div>
        <h2 class="text-white">〜ビギケン〜</h2>
        <h3 class="text-white">ものづくりの世界へようこそ</h3>
        <h3 class="text-white">『ビギケン』を使って、完全未経験から職人を目指してみませんか？<br>ものづくり職人への道はすぐそばにあります</h3>
      </div>
    </div>

    <div class="container">
      <div class="row bg-light" style="margin-top: 70px;">
        <h2 class="col-md-12 mb-5 text-center">建築業界は・・・とにかく人手が足りません！！！</h2>
        <div class="col-md-5 text-center"><img src="http://president.ismcdn.jp/mwimgs/7/a/-/img_7ac56f498b76645c4033beb651ff923f31599.jpg"></div>
        <h3 class="col-md-7 mt-5">労働人口の減少は、国全体でも大きな問題です。<br>その中でも「建設業界の人手不足」は非常に深刻で、工事現場で稼動する職人,職人をマネジメントする技術者どちらも足りていません。<br>
          <br>
          <span class="red">
            軽い気持ちで全然構いません！！！！</span><br>
          <span class="red">
            気軽にバイト気分で参加してみませんか？</span><br>
          <span class="red">
            建築業界を救うのはアナタです！</span>
        </h3>
      </div>
      <div class="row text-center">
        <h2 class="col-md-6">求人をお探しの方はこちらより</h2>
        <h2 class="col-md-6">求人を記載したい方はこちらより</h2>
      </div>
      <div class="row text-center">
        <div class="col-md-6"><%= link_to("ユーザー登録＆ログイン","/users/users_entrance",class: "btn btn-primary") %></div>
        <div class="col-md-6"><%= link_to("企業登録＆ログイン","/company/company_entrance",class: "btn btn-primary") %></div>
      </div>
    </div>

    <footer class="text-center mt-5 pt-5">
      <p>Beginner's建築〜ビギケン〜</p>
    </footer>
  </body>
</html>
