.login-cover {
  background: image-url('0.jpg');
  background-size: cover;
  height: 700px;
}

.login-cover2 {
  background: image-url('1.jpg');
  background-size: cover;
  height: 700px;
}

h1 {
  padding-top: 80px;
  margin-left: 60px;
}

.title {
font-size: 50px;
color: black;
}

.form-signin {
  margin-top: 70px;
}

.form-signin2 {
  margin-top: 50px;
}

.form_annotation {
  margin-bottom: 0px;
}

.name {
  font-size: 20px;

}

.catch {
  font-size: 30px;
}
